@model IEnumerable<NetFlow.Services.Courses.Models.CourseServiceModel>

<h1 class="text-center p-3 mx-auto">courses</h1>
<div class="title-underline bg-dark"></div>

<section id="courses" class="p-5">
    <div class="row">
        @foreach (var course in Model)
        {
            <div class="col-sm-4 col-md-4 col-md-4">
                <div class="card text-center" style="width: 15rem;">
                    <div class="text-center">
                        <h4 class="card-title text-center text-info">@course.Name</h4>
                    </div>
                    <div class="card-body">
                        @if (!course.Picture.Equals(null))
                        {
                            <img src="@course.Picture" class="img-thumbnail course-image" />
                        }
                        <p class="text-center">@course.StartDate.ToString("dd MMM yyyy") - @course.EndDate.ToString("dd MMM yyyy")</p>
                        <a asp-area="" asp-controller="Course" asp-action="Details" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>