@{
    ViewData["Title"] = "About";
}

<div class="row d-flex height-index align-items-center" id="product">
    <div class="offset-md-1 col">
        <h1 class="text-success display-4 text-uppercase font-weight-bold">
            net<small class="text-danger text-lowercase display-4">flow</small>
        </h1>
        <p class="text-white lead py-2 w-80">
            NetFlow is a digital exam platform that handles the flow of student exams 
            and management of the assessment process. It has four main user roles: 
            Administrator, Student, Teacher and Publisher. Administrator is authorized 
            to create courses and perform a CRUD operations on the users. Administrator
            can create a new user and assign a role to it. Can search users by username.
            Student can register and login to their account. Student can sign up for desired
            educational courses. Student will be able to upload his assignment as a .pdf or .zip 
            file up till 10MB. Teacher is authorized to conducting assessment and commenting 
            of the student assignments. Publisher is authorized to create a blog posts. 
            Authorized users can leave a comments under the blog posts. A search dialog at 
            the Layout page allows the user to search for specific course or post.
        </p>
        <a class="btn btn-info text-white" href="mailto:mihail.tanev@hotmail.com">contact</a>
    </div>
</div>