@{
    ViewData["Title"] = "Contact";
}

<body id="contact">
    <section id="page-wrap">
        <div>
            <h1>Mihail Tanev</h1>
            <p>
                Phone: <span class="tel">50645177</span><br />
                Email: <a class="email" href="mailto:mihail.tanev@hotmail.com">mihail.tanev@hotmail.com</a>
            </p>
            <a class="btn btn-info" target="_blank" href="https://www.linkedin.com/in/mihail-tanev-397b578a/">linkedin</a>
            <a class="btn btn-dark" target="_blank" href="https://github.com/MihailTanev">github</a>
            <a class="btn btn-danger" target="_blank" href="https://www.instagram.com/mihail.tanev/">instagram</a>
            <a class="btn btn-outline-info" target="_blank" href="https://www.facebook.com/mihail.v.tanev">facebook</a>
        </div>
        <br />
        <div id="objective">
            <p>
                I am an outgoing and energetic (ask anybody) young professional with a
                professional passion for development and optimization. Currently, I am seeking a
                career that fits my professional skills, personality, which brings my dynamism
                to the overcoming challenges and fulfilling remits.
            </p>
        </div>
        <dl>
            <dd class="clear"></dd>

            <dt>Education</dt>
            <dd>
                <h5>Software University</h5>
                <p>
                    <strong>Field of study:</strong> Software Development<br />
                    <strong>2019 -</strong>
                </p>
            </dd>
            <dd>
                <h5>KEA - Københavns Erhvervsakademi</h5>
                <p>
                    <strong>Degree:</strong> Bachelor's degree<br />
                    <strong>Field of study:</strong> Software Development, Computer Science<br />
                    <strong>2014 - 2018</strong>
                </p>
            </dd>
            <dd class="clear"></dd>
            <dt>Skills</dt>
            <dd>
                <p>
                    C#, Java, Azure, AWS, ASP.NET Core MVC, MS SQL SERVER,<br />
                    Bootstrap, HTML, CSS
                </p>
            </dd>
            <dd class="clear"></dd>
        </dl>
        <div class="clear"></div>
        <div class="mx-auto text-center">
            <a class="btn btn-info text-white" href="mailto:mihail.tanev@hotmail.com">contact</a>
        </div>
    </section>
</body>