@{
    ViewData["Title"] = "Home Page";
}

<navbar id="header">
    <div class="row d-flex height-index align-items-center">
        <div class="col">
            <h1 class="text-success display-4 text-uppercase font-weight-bold">
                <strong>NetFlow</strong>
            </h1>
            <p class="text-muted lead py-2 w-75">
                NetFlow - more than paperless. A digital exam and assessment platform
                that is easy to use and provides great functionality
            </p>
            <form class="row">
                <div class="d-flex flex-row bd-highlight mb-3">
                    <input class="form-control border" type="text" placeholder="Search">
                    <button class="btn btn-primary border my-2 my-sm-0" type="submit"><i class="fas fa-2x fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</navbar>