@{
    ViewData["Title"] = "Home";
}
<div class="row d-flex height-index align-items-center" id="picture">
    <div class="offset-1 col">
        <h1 class="text-success display-4 text-uppercase font-weight-bold">
            Net<small class="text-danger text-lowercase display-4">Flow</small>
        </h1>
        <p class="text-white lead py-2 w-75">
            NetFlow - more than paperless. A digital exam and assessment platform
            that is easy to use and provides great functionality
        </p>
        <form class="row">
            <div class="d-flex flex-row bd-highlight mb-3 col-sm-5">
                <input class="form-control border" type="text" placeholder="Search">
                <button class="btn btn-dark" type="submit"><i class="fas fa-1x fa-search"></i></button>
            </div>
        </form>
    </div>
</div>