@{
    ViewData["Title"] = "Product";
}

<div class="row d-flex height-index align-items-center" id="product">
    <div class="offset-1 col">
        <h1 class="text-success display-4 text-uppercase font-weight-bold">
            Net<small class="text-danger text-lowercase display-4">Flow</small>
        </h1>
        <p class="text-white lead py-2 w-75">
            NetFlow enables you to set up exam flows and makes automated distribution and easy assessment possible,
            providing you with exactly the digital exam that suits your needs.
            And that is just a fraction of the possibilities available when using NetFlow.
        </p>
        <a class="btn btn-info text-white" href="#">contact</a>
    </div>
</div>