@model NetFlow.Web.ViewModels.Home.SearchViewModel

@{
    ViewData["Title"] = "Search for " + Model.SearchString;
}

@if (Model.Courses.Any())
{
    <h1 class="text-center p-3 mx-auto">search results for <span class="text-danger">"@Model.SearchString"</span></h1>
    <div class="title-underline bg-dark"></div>
    <div class="container">
        <div class="row p-5">

            @await Html.PartialAsync("_SearchedCoursesPartial", Model.Courses)
        </div>
    </div>
}
else
{
    <section class="p-5">
        <div class="title-underline w-100 bg-info"></div>
        <h4 class="text-center p-5">Sorry, we couldn't find any results matching  <span class="text-danger">"@Model.SearchString"</span></h4>
        <div class="title-underline w-100 bg-info"></div>
    </section>
}