@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="text-center p-3">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You are not authorized to access this page</p>
    <i class="fa fa-5x fa-lock fa-login"></i>
</div>

<div class="text-center">
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">home</a>
</div>
