@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="col text-center">
   <h1 class="pt-3">@ViewData["Title"]</h1>
   <div class="title-underline"></div>
</div>

<div class="row text-center">
    <div class="col-md-4 offset-md-4">
        <form id="account" method="post" class="mx-auto form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input asp-for="Input.Username" class="form-control" placeholder="Username" />
                </div>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-lock fa-login"></i></span>
                    </div>
                    <input asp-for="Input.Password" class="form-control" placeholder="Password"/>
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Sign In" class="btn btn-primary" />
            </div>
        </form>
        <div class="text-center">
            <h6>Haven't yet an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-info">Sign Up here</a></h6>
            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
        </div>
    </div>
</div>

<hr class="m-2" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
