@page
@model LoginModel

@{
    ViewData["Title"] = "Sign in";
}
<h1 class="text-center p-3 mx-auto">Login</h1>
<div class="title-underline bg-dark"></div>


<div class="row text-center">
    <div class="col-md-4 offset-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data" class="mx-auto form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Username" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input asp-for="Input.Username" class="form-control" />
                </div>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input asp-for="Input.Password" class="form-control" />
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group text-center">
                <input type="submit" value="Sign In" class="btn btn-primary" />
            </div>
        </form>
        <div class="text-center">
            <h6>Haven't yet an account? <a href="/Identity/Account/Register" class="text-info">Sign Up here</a></h6>
        </div>
    </div>
</div>

<hr class="m-2" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
