@using NetFlow.Common.GlobalConstants

@if (this.User.Identity.IsAuthenticated && this.User.IsInRole(RoleConstants.ADMIN_ROLE))
{
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Netflow</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Blog" asp-controller="Posts" asp-action="Index">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item active">
                        <div class="dropdown show" id="products-dropdown">
                            <a class="nav-link active font-weight-bold dropdown-toggle" href="#" id="adminDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin Panel
                            </a>
                            <div class="dropdown-menu" aria-labelledby="adminDropDown">
                                <a class="dropdown-item" asp-area="Administration" asp-controller="Users" asp-action="Add">Add User</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="Administration" asp-controller="Users" asp-action="Index">Regestered Users</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <div class="dropdown show" id="products-dropdown">
                            <a class="nav-link active font-weight-bold dropdown-toggle" href="#" id="adminDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Courses
                            </a>

                            <div class="dropdown-menu" aria-labelledby="adminDropDown">
                                <a class="dropdown-item" asp-area="Administration" asp-controller="Courses" asp-action="Add">Add Course</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="Trainings" asp-controller="Courses" asp-action="Index">All Courses</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="Trainings" asp-controller="Courses" asp-action="ActiveCourses">Active Courses</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
}
else if (this.User.Identity.IsAuthenticated && this.User.IsInRole(RoleConstants.TEACHER_ROLE))
{
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Netflow</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Blog" asp-controller="Posts" asp-action="Index">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-area="Pedagogics" asp-controller="Teacher" asp-action="Index">Courses</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>

}
else if (this.User.Identity.IsAuthenticated && this.User.IsInRole(RoleConstants.PUBLISHER_ROLE))
{
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Netflow</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Product</a>
                    </li>
                    <li class="nav-item active">
                        <div class="dropdown show" id="products-dropdown">
                            <a class="nav-link active font-weight-bold dropdown-toggle" href="#" id="adminDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Blog
                            </a>

                            <div class="dropdown-menu" aria-labelledby="adminDropDown">
                                <a class="dropdown-item" asp-area="Blog" asp-controller="Posts" asp-action="Add">Add Post</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="Blog" asp-controller="Posts" asp-action="Index">All Posts</a>
                            </div>
                        </div>
                    </li>                   
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>

}
else if (this.User.Identity.IsAuthenticated && this.User.IsInRole(RoleConstants.STUDENT_ROLE))
{
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Netflow</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Blog" asp-controller="Posts" asp-action="Index">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown show" id="products-dropdown">
                            <a class="nav-link active font-weight-bold dropdown-toggle" href="#" id="adminDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Courses
                            </a>

                            <div class="dropdown-menu" aria-labelledby="adminDropDown">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="Trainings" asp-controller="Courses" asp-action="Index">All Courses</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="Trainings" asp-controller="Courses" asp-action="ActiveCourses">Active Courses</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>

}
else
{
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Netflow</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Blog" asp-controller="Posts" asp-action="Index">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
}
