@model CreateUserViewModel

@{
    ViewData["Title"] = "Add User";
}

<div class="col text-center">
   <h1 class="pt-3">@ViewData["Title"]</h1>
   <div class="title-underline"></div>
</div>

<form method="post" asp-area="Administration" asp-controller="Users" asp-action="Add" enctype="multipart/form-data" class="mx-auto p-3 form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row text-center">
        <div class="col-md-5 offset-md-1 form-group">
            <label asp-for="FirstName" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-user"></i></span>
                </div>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-5 form-group">
            <label asp-for="LastName" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-user"></i></span>
                </div>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-5 offset-md-1 form-group">
            <label asp-for="Email" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-envelope fa-envelope-custom"></i></span>
                </div>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-5 form-group">
            <label asp-for="Username" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                </div>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>
    </div>


    <div class="row text-center">
        <div class="col-md-5 offset-md-1 form-group">
            <label asp-for="Password" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                </div>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-5 form-group">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                </div>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>


    <div class="row text-center">
        <div class="offset-md-1 col-md-10 offset-md-1 form-group">
            <label asp-for="UserRole" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <select asp-for="UserRole" asp-items="ViewBag.Name" style="padding:0rem 2rem!important"
                        class="form-control form-control-lg text-primary text-center">
                    <option value="0">-- Select User Role --</option>
                </select>
                <span asp-validation-for="UserRole" class="text-danger"></span>
            </div>
        </div>
    </div>

    <br />
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">create</button>
        <a class="btn btn-dark" asp-area="Administration" asp-controller="Users" asp-action="Index">cancel</a>
    </div>
</form>
<hr class="mb-2" />

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}