@model NetFlow.Web.ViewModels.Users.CreateUserViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Add User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center font-weight-bold p-3 mx-auto">@ViewData["Title"]</h2>
<div class="title-underline bg-primary"></div>

<form method="post" enctype="multipart/form-data" class="mx-auto p-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="d-flex justify-content-center">
        <div class="col-md-4 form-group">
            <div class="d-flex justify-content-center">
                <label asp-for="FirstName" class="text-primary">First Name</label>
            </div>
            <input type="text" asp-for="FirstName"
                   id="name"
                   class="form-control form-control-lg text-primary text-center" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col-md-4 form-group">
            <div class="d-flex justify-content-center">
                <label asp-for="LastName" class="text-primary">Last Name</label>
            </div>
            <input type="text" asp-for="LastName"
                   id="name"
                   class="form-control form-control-lg text-primary text-center" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="col-md-4 form-group">
            <div class="d-flex justify-content-center">
                <label asp-for="Email" class="text-primary">Email</label>
            </div>
            <input type="email" asp-for="Email"
                   id="name"
                   class="form-control form-control-lg text-primary text-center" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-4 form-group">
            <div class="d-flex justify-content-center">
                <label asp-for="Username" class="text-primary">Username</label>
            </div>
            <input type="text" asp-for="Username"
                   id="name"
                   class="form-control form-control-lg text-primary text-center" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
    </div>


    <div class="d-flex justify-content-center">
        <div class="col-md-4 form-group">
            <div class="d-flex justify-content-center">
                <label asp-for="Password" class="text-primary">Password</label>
            </div>
            <input type="password" asp-for="Password"
                   id="password"
                   class="form-control form-control-lg text-primary text-center" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="col-md-4 form-group">
            <div class="d-flex justify-content-center">
                <label asp-for="ConfirmPassword" class="text-primary">Confirm Password</label>
            </div>
            <input type="password" asp-for="ConfirmPassword"
                   id="confirmPassword"
                   class="form-control form-control-lg text-primary text-center" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="col-md-4 form-group">

            <div class="d-flex justify-content-center">
                <label asp-for="UserRole" class="text-primary"></label>
            </div>
            <select asp-for="UserRole" asp-items="ViewBag.Name"
                    class="form-control">
            <option value="0">--Select User Role--</option>
                </select>
            <span asp-validation-for="UserRole" class="text-danger"></span>
        </div>
    </div>

    <div class="d-flex justify-content-center m-3">
        <button type="submit" class="btn btn-primary">create</button>
    </div>
</form>
<hr class="mb-2" />

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}