@model NetFlow.Web.ViewModels.Users.CreateUserViewModel

@{
    ViewData["Title"] = "Add User";
}

<h2 class="text-center font-weight-bold pt-5 mx-auto">@ViewData["Title"]</h2>
<div class="title-underline bg-primary"></div>

<form method="post" asp-area="Administration" asp-controller="Users" asp-action="AddUser" enctype="multipart/form-data" class="mx-auto p-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row text-center">
        <div class="col-md-4 offset-md-2 form-group">
            <label asp-for="FirstName" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-user"></i></span>
                </div>
                <input asp-for="FirstName" class="form-control" placeholder="First Name" />
            </div>
        </div>
        <div class="col-md-4 form-group">
            <label asp-for="LastName" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-user"></i></span>
                </div>
                <input asp-for="LastName" class="form-control" placeholder="Last Name" />
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-4 offset-md-2 form-group">
            <label asp-for="Email" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-envelope"></i></span>
                </div>
                <input asp-for="Email" class="form-control" placeholder="Email" />
            </div>
        </div>
        <div class="col-md-4 form-group">
            <label asp-for="Username" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                </div>
                <input asp-for="Username" class="form-control" placeholder="Username" />
            </div>
        </div>
    </div>


    <div class="row text-center">
        <div class="col-md-4 offset-md-2 form-group">
            <label asp-for="Password" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-key"></i></span>
                </div>
                <input asp-for="Password" class="form-control" placeholder="Password" />
            </div>
        </div>
        <div class="col-md-4 form-group">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-key"></i></span>
                </div>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
            </div>
        </div>
    </div>


    <div class="row text-center">
        <div class="offset-md-2 col-md-8 offset-md-2 form-group">
            <label asp-for="UserRole" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <select asp-for="UserRole" asp-items="ViewBag.Name" style="padding:0rem 2rem!important"
                        class="form-control form-control-lg text-primary text-center">
                    <option value="0">-- Select User Role --</option>
                </select>
                <span asp-validation-for="UserRole" class="text-danger"></span>
            </div>
        </div>
    </div>

    <br />
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">create</button>
    </div>
</form>
<hr class="mb-2" />

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}