@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password for" + " " + Model.Username;
}

<div class="col text-center">
   <h1 class="pt-3">@ViewData["Title"]</h1>
   <div class="title-underline"></div>
</div>

<form method="post" asp-area="Administration" asp-action="ChangePassword" asp-controller="Users">
    <div class="row text-center">
        <div class="col-md-4 offset-md-2 form-group">
            <label asp-for="Password" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4 form-group">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>

    <br />
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">save</button>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
