@model EditUserViewModel

@{
    ViewData["Title"] = Model.Username;
}

<div class="col text-center">
   <h1 class="pt-3">@ViewData["Title"]</h1>
   <div class="title-underline"></div>
</div>

@if (this.TempData.ContainsKey(UserMessagesConstants.TEMPDATA_ERROR_MESSAGE))
{
    <div class="offset-md-3 col-md-6 offset-md-3 alert alert-dismissible alert-danger text-center">
        <strong>@this.TempData[UserMessagesConstants.TEMPDATA_ERROR_MESSAGE]</strong>
    </div>
}
@if (this.TempData.ContainsKey(UserMessagesConstants.TEMPDATA_SUCCESS_MESSAGE))
{
    <div class="offset-md-3 col-md-6 offset-md-3 alert alert-dismissible alert-success text-center">
        <strong>@this.TempData[UserMessagesConstants.TEMPDATA_SUCCESS_MESSAGE]</strong>
    </div>
}


<form method="post" enctype="multipart/form-data" class="mx-auto p-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row text-center">
        <div class="col-md-4 offset-md-2 form-group">
            <label asp-for="FirstName" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-user"></i></span>
                </div>
                <input asp-for="FirstName" class="form-control" placeholder="First Name" />
            </div>
        </div>
        <div class="col-md-4 form-group">
            <label asp-for="LastName" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-user"></i></span>
                </div>
                <input asp-for="LastName" class="form-control" placeholder="Last Name" />
            </div>
        </div>
    </div>


    <div class="row text-center">
        <div class="col-md-4 offset-md-2 form-group">
            <label asp-for="Email" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <input asp-for="Email" class="form-control" placeholder="Email" />
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-4 form-group">
            <label asp-for="Username" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input asp-for="Username" class="form-control" placeholder="Username" />
            </div>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
    </div>

    <br />
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">save</button>
    </div>
</form>
<hr class="mb-2" />

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
