@page
@model IndexModel
@{
    ViewData["Title"] = "Edit " + Model.Username;
}

<div class="col text-center">
    <h1 class="pt-3">@ViewData["Title"]</h1>
    <div class="title-underline"></div>
</div>
<br />
<div class="offset-md-3 col-md-6 offset-md-3 text-center">
    <partial name="_StatusMessage" for="StatusMessage" />
</div>

<form method="post" id="profile-form" class="mx-auto p-3 form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row text-center">
        <div class="offset-md-2 col-md-8 offset-md-2 form-group">
            <label asp-for="Input.UserName" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                </div>
                <input asp-for="Input.UserName" class="form-control" />
            </div>
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="row text-center">
        <div class="offset-md-2 col-md-8 offset-md-2 form-group">
            <label asp-for="Input.FirstName" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input asp-for="Input.FirstName" class="form-control" />
            </div>
            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="row text-center">
        <div class="offset-md-2 col-md-8 offset-md-2 form-group">
            <label asp-for="Input.LastName" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input asp-for="Input.LastName" class="form-control" />
            </div>
            <span asp-validation-for="Input.LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="row text-center">
        <div class="offset-md-2 col-md-8 offset-md-2 form-group">
            <label asp-for="Input.BirthDate" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                </div>
                <input asp-for="Input.BirthDate" class="form-control" />
            </div>
            <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
        </div>
    </div>
    <div class="row text-center">
        <div class="offset-md-2 col-md-8 offset-md-2 form-group">
            <label asp-for="Input.Email" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
            </div>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row text-center">
        <div class="offset-md-2 col-md-8 offset-md-2 form-group">
            <label asp-for="Input.PhoneNumber" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                </div>
                <input asp-for="Input.PhoneNumber" class="form-control" />
            </div>
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
        </div>
    </div>

    <br />
    <div class="form-group text-center">
        <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}